h2.homepage-header{
  color: blue
}

p.home-p{
  color: red
}

h2.aboutme-header{
  color: green
}

p.p-intro{
  color: black
}

p.p-hobby{
  color: white
}

.firstname label{
  color: orange
}

.firstanme input{
  color: red
}

.lastname label{
  color: purple
}

.lastname input{
  color: yellow
}

.email label{
  color: brown
}

.email input{
  color: green
}

.message label{
  color: pink
}

.message textarea{
  color: black
}

body{
  background-color: skyblue
}

.navbar ul{
  list-style-type: none;
  background-color: hsl(0,0%,25%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover{
  background-color: hsl(0,0%,10%);
}

.navbar li{
  float: left;
}


